:root {
    scroll-behavior: smooth;
  }
  
body {
    font-family: "Open Sans", sans-serif;
    background: #ffffff;
    color: #444444;
}

html {
    height: 100%;
}

  
main {
flex: 1;
}

footer {
flex-shrink: 0;
}

.header-logo {
    width: 220px;
    object-fit: contain;
}

.header-row{
    position: relative;
    width: 100%;
    height: 100%;
}

.header-right{
    
}

.social-media{
    background-color: #4154F1;
}

.social-logo{
    width: 30px;
    height: 30px;
    object-fit: contain;
}